.main {
  display: flex;
  flex-direction: column;
  margin-block: 5px;
  max-width: 1400px;
  background-color: #fff;
  border-radius: 10px;
  margin-inline: auto;
  padding-inline: 20px;
  padding-block: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1430px) {
  .main {
    margin-inline: 20px;
  }
}