.header {
  margin-top: 30px;
  max-width: 1400px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 20px;
  padding-top: 10px;

  .title {
    margin-top: 10px;
    margin-bottom: 13px;
    font-size: 32px;
    text-align: center;
    line-height: 0.7;
    margin-left: -10px;

    .hearts {
      display: flex;
      justify-content: space-around;
      color: red;
      padding-bottom: 5px;
    }
  }

  .docs {
    font-size: 32px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin-right: -20px;
    margin-top: 10px;
  }
  .center {
    margin-block: auto;
    display: flex;
    justify-content: center;
    .progressBarBorder {
      width: 30vw;
      border: 2px solid rgba(112, 112, 112, 0.979);
      height: 28px;
      border-radius: 10px;
      z-index: 1;
      margin-inline: 10px;
      .progressBar {
        height: 100%;
        background-color: red;
        border-radius: 7px;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1430px) {
  .header {
    margin-inline: 20px;
  }
  .center {
    flex-direction: column;
  }
}